<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] [%d{HH:mm:ss}] [%logger]: %msg%n"/>
        </Console>

        <File name="DefaultLog" fileName="pluto/logs/latest.log">
            <PatternLayout pattern="[%level] [%d{HH:mm:ss.SSS}] [%logger]: %msg%n"/>
        </File>

        <File name="DebugLog" fileName="pluto/logs/debug.log">
            <PatternLayout pattern="[%level] [%d{HH:mm:ss.SSS}] [%t] [%logger]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info" />
            <AppenderRef ref="DefaultLog" level="info" />
            <AppenderRef ref="DebugLog" level="debug" />
        </Root>
    </Loggers>
</Configuration>